<!-- <img src="../../assets/back.jpg" class="img-fluid" alt="Responsive image"> -->

<div style="display: flex; justify-content: center;">
<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h2 class="card-title" style="font-weight: bold; color: deeppink;">Welcome!!!!</h2>
      <h6 class="card-subtitle mb-2 text-muted">Online test managment</h6>
      <p class="card-text" style="color:mediumvioletred;">  Using the Online Test Management System, a user can give only one test at a time and see questions whereas the admin can add and update test and also add questions to a specific test. The admin can also delete tests and the questions in them and assign the tests to a specific user.</p>
      
    </div>
  </div>
  </div>