

<div class="container" >
    <div style="display: flex; justify-content: center;">
    <div class="card text-white bg-secondary mb-3" style="width: 25rem; align-self: center;"  >
<form #form=ngForm (ngSubmit)="form.valid && updateUser(form)">

    <div class="form-group">
        <label>User Id:</label>
        <input type="number" name="userId"  placeholder="enter user Id" ngModel
            #userIdCtrl=ngModel class="form-control">
    </div>
    <div *ngIf="userIdCtrl.errors!==null &&  userIdCtrl.errors.required" class="error">
        required fields
    </div>
 


    <div class="form-group">
        <label>User Role:</label>
        <input type="text" name="userRole" required minlength="3" placeholder="enter user role" ngModel
            #userRoleCtrl=ngModel class="form-control">
    </div>
    <div *ngIf="userRoleCtrl.errors!==null &&  userRoleCtrl.errors.required" class="error">
        required fields
    </div>
    <div *ngIf="userRoleCtrl.errors!=null && userRoleCtrl.errors.minlength" class="error">
        minlength is 3
    </div>
  


    
    <div class="form-group">
        <label>User Name</label>
        <input type="text" name="userName" required minlength="2" placeholder="enter name here" ngModel
            #userNameCtrl=ngModel class="form-control">
    </div>
    <div *ngIf="userNameCtrl.errors!==null &&  userNameCtrl.errors.required" class="error">
      name required
    </div>
    <div *ngIf="userNameCtrl.errors!=null && userNameCtrl.errors.minlength" class="error">
        minlength is 2
    </div>
  
  
    
    <div class="form-group">
        <label> Password</label>
        <input type="password" name="password"  placeholder="enter password" ngModel #passwordCtrl=ngModel
            class="form-control">
    </div>
    <div *ngIf="passwordCtrl.errors!==null &&  passwordCtrl.errors.required" class="error">
        password required
     </div>
  
     <div *ngIf="passwordCtrl.errors!=null && passwordCtrl.errors.minlength" class="error">
        minlength is 6
    </div> 
  
    
  
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>

  
  
  
</div>
</div>
</div>